APP_NAME=Portfolio
APP_ENV=local
APP_KEY=base64:k7dQe7yGf4qKmU0RLUAn6OQEZgvSfPNjXd4/s4ehhCI=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=portofolio
DB_USERNAME=root
DB_PASSWORD=



FRONTEND_URL=http://localhost:3000
